.endmsg{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  top: 10em;
  position: relative;
  transition: 1s;
}

.win{
  color: aqua;
  box-shadow: inset 1px 1px 1ch 3px springgreen;
  border-radius: 5px ;
}

.loss{
  color: crimson;
  box-shadow: inset 1px 1px 1ch 3px purple;
  border-radius: 5px ;
  position: absolute;
  left: 40%;
  top: 65%;
}

.pop{
  transform: scale(5);
}

.reveal{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
}

.first-menu{
  position: absolute;
  display: inline-block;
  left: 45%;
  top: 43%;
  width: 10%;
  height: 10%;
}

.word-list{
  text-align: center;
  display: block;
  left: 0%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  right: 0%;
  height: 3ch;
  border-radius: 1em;
}

.word-label{
  top: 20%;
  width: 100%;
  position: absolute;
  color: white;
}

.hint-label{
  top:35%;
  width: 100%;
  position: absolute;
  color: white;
}

.input-word{
  top: 25%;
  width: 40%;
  position: absolute;
}

.input-hint{
  top: 40%;
  width: 40%;
  position: absolute;
}

.menu-2{
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  width: 22%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.btn-2{
  display: block;
  width: 100%;
  height: 60%;
  border-radius: 2ch;
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.menu-3{
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 35%;
  width: 30%;
}

.end-btn{
  float: left;
  border-radius: 15%;
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.end-btn-rigth{
  float: right;
}

.btn{
  display: block;
  width: 100%;
  height: 60%;
  border-radius: 15%;
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.btn-low{
  margin-top: 20%;
}

.game{
  max-width: 1200px;
  max-height: 800px;
  width: 100%;
  height: 85vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.word{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-size: 3ch;
  bottom: 35%;
}

.letter{
  display: inline-block;
  width: 1ch;
  margin-left: 0.25ch;
  margin-right: 0.25ch;
}

.input{
  width: 99%;
  height: 90%;
  opacity: 0%;
}

.hanged{
display: block;
position: absolute;
left: 0;
width: 15em;
margin-left: auto;
right: 0;
margin-right: auto;
}

#pole{
  width: 100%;
  height: 100%;
}

#head{
  position: absolute;
  top: 5%;
  left: 40%;
  width: 23%;
}

#torso{
  position: absolute;
  top: 37%;
  left: 44%;
  width: 15%;
}

#leftArm{
  position: absolute;
  top: 37.15%;
  left: 58.5%;
  width: 24%;
  height: 21.2%;
}

#rigthArm{
  position: absolute;
  top: 37.2%;
  left: 20%;
  width: 24%;
  height: 21.2%;
}

#leftLeg{
  position: absolute;
  top: 71.1%;
  left: 52%;
  width: 17%;
  height: 28.5%;
}

#rigthLeg{
  position: absolute;
  top: 71.1%;
  left: 33.6%;
  width: 17%;
}

#hangedpng{
  position: relative;
  left: -1.3em;
}

.hint{
  position: relative;
  left: 70%;
  font-size: 3ch;
  color: white;
  width: 25%;
  bottom: 70%;
}
.usedLetters{
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 30%;
}
.wrongChar{
  display: inline;
}

.redDash{
  height: 1ch;
  width: 1ch;
  position: relative;
  right: 1ch;
}

.hidden{
  display: none;
}

footer{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 1%;
  text-align: center;

}

@media screen and (max-width: 650px) {

body{
    font-size: 2vh;
  }

  .first-menu{
    display: block;
    left: 0;
    top: 0%;
    width: 20vh;
    height: 15vh;
    right: 0;
    bottom: 0;
    margin: auto;
  }

.btn{
  font-weight: bold;
}

.word-label{
  font-size: 3vh;
}

.input-word{
  width: 55%;
}

.hint-label{
  font-size: 3vh;
}

.input-hint{
  width: 55%;
}

.menu-2{
  top: 55%;
  width: 45%;
}

.hidden{
  display: none;
}

.hanged{
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  right: 0%;
  top: 10%;
}

#hangedpng{
  left:-2.3em;
}

.hint{
  position: absolute;
  left: 0%;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.word{
  bottom: 20%;
}

.usedLetters{
  bottom: 19%;
  font-size: 3ch;
}

.endmsg{
  font-size: 1.5ch;
}

.loss{
  top:87%;
}

.reveal{
  top:67%;
}

.reveal{
  font-size: 3.5ch;
}

.menu-3{
  display: block;
  left: 0%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  right: 0%;
}

.end-btn{
  width: 40%;
  font-weight: bold;
}
