.endmsg{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  top: 10em;
  position: relative;
  transition: 1s;
}

.win{
  color: aqua;
  box-shadow: inset 1px 1px 1ch 3px springgreen;
  border-radius: 5px ;
}

.loss{
  color: crimson;
  box-shadow: inset 1px 1px 1ch 3px purple;
  border-radius: 5px ;
  position: absolute;
  left: 40%;
  top: 65%;
}

.pop{
  transform: scale(5);
}

.reveal{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
}

.first-menu{
  position: absolute;
  display: inline-block;
  left: 45%;
  top: 43%;
  width: 10%;
  height: 10%;
}

.word-list{
  text-align: center;
  display: inline-block;
}

.word-label{
  top: 20%;
  width: 100%;
  position: absolute;
  color: white;
}

.hint-label{
  top:35%;
  width: 100%;
  position: absolute;
  color: white;
}

.input-word{
  top: 25%;
  width: 20%;
  left: 40%;
  position: absolute;
}

.input-hint{
  top: 40%;
  width: 20%;
  left: 40%;
  position: absolute;
}

.menu-2{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 22%;
  height: 10%;
}

.menu-3{
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 35%;
  width: 30%;
}

.end-btn{
  float: left;
  border-radius: 15%;
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.end-btn-rigth{
  float: right;
}

.btn{
  display: block;
  width: 100%;
  height: 60%;
  border-radius: 15%;
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}

.btn-low{
  margin-top: 20%;
}

.game{
  max-width: 1200px;
  max-height: 800px;
  width: 100%;
  height: 85vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.word{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-size: 3ch;
  bottom: 35%;
}

.letter{
  display: inline-block;
  width: 1ch;
  margin-left: 0.25ch;
  margin-right: 0.25ch;
}

.input{
  width: 99%;
  height: 90%;
  opacity: 0%;
}

.hanged{
display: block;
position: absolute;
left: 0;
width: 15em;
margin-left: auto;
right: 0;
margin-right: auto;
}

#head{
  position: absolute;
  top: 1em;
  left: 6em;
}

#torso{
  position: absolute;
  top: 7.4em;
  left: 6.57em;
}

#leftArm{
  position: absolute;
  top: 7.4em;
  left: 8.37em;
}

#rigthArm{
  position: absolute;
  top: 7.45em;
  left: 3.76em;
}

#leftLeg{
  position: absolute;
  top: 13.95em;
  left: 7.56em;
}

#rigthLeg{
  position: absolute;
  top: 13.95em;
  left: 5.3em;
}

#hangedpng{
  position: relative;
  left: -1.3em;
}

.hint{
  position: relative;
  left: 70%;
  font-size: 3ch;
  color: white;
  width: 25%;
  bottom: 70%;
}
.usedLetters{
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 30%;
}
.wrongChar{
  display: inline;
}

.redDash{
  height: 1ch;
  width: 1ch;
  position: relative;
  right: 1ch;
}

.hidden{
  display: none;
}

footer{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 1%;
  text-align: center;

}
